.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appHeader {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.breadcrumbs,
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #6e6e6e;
}

.app_header_right_Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search_box {
  border: 1px solid #6e6e6e;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
}

.dashboard {
  background-color: aliceblue;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.dashboard_header {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_dashboard_header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: #6e6e6e;
}

.right_dashboard_header_menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0.5px solid #6e6e6e91;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #6e6e6e;
  font-size: 0.7rem;
  height: 1.7rem;
}

.category {
  margin: 0px 40px 20px;
}

.category_widgets {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #6e6e6e;
}

.category_widget {
  flex: 1;
  max-width: 400px;
  height: 200px;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget_header_close_button {
  cursor: pointer;
}
